$primary-lighter: #FFD9DC;
$primary-light: #FE8D96;
$primary: #FE5561;
$primary-dark: #FE1F2F;
$primary-darker: #FF0013;

$secondary-one-lighter: #FFF8DA;
$secondary-one-light: #FFEA8E;
$secondary-one: #FFDF55;
$secondary-one-dark: #FFD51F;
$secondary-one-darker: #FFCF00;

$secondary-two-lighter: #E2DBFC;
$secondary-two-light: #A996F6;
$secondary-two: #8266F6;
$secondary-two-dark: #5D38F7;
$secondary-two-darker: #3D0FF9;

$complement-lighter: #DDFDD8;
$complement-light: #9AFA8B;
$complement: #6AFA53;
$complement-dark: #3CFB1E;
$complement-darker: #22FC00;

$grayscale-lighter: #FFF;
$grayscale-light: #888;
$grayscale: #444;
$grayscale-dark: #222;
$grayscale-darker: #000; 