$primary-lighter: #FFD5D0;
$primary-light: #E58F83;
$primary: #AA4639;
$primary-dark: #6F160A;
$primary-darker: #340600;

$secondary-one-lighter: #FFF4d0;
$secondary-one-light: #E5CF83;
$secondary-one: #AA9139;
$secondary-one-dark: #6F580A;
$secondary-one-darker: #342800;

$secondary-two-lighter: #B1AECF;
$secondary-two-light: #6A659F;
$secondary-two: #383276;
$secondary-two-dark: #16114D;
$secondary-two-darker: #060324;

$complement-lighter: #AFD8BA;
$complement-light: #62AB75;
$complement: #2A7F41;
$complement-dark: #08531C;
$complement-darker: #00270A;